@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: #f3f3f3;
}
  
  .App {
    text-align: center;
    flex-direction: column;
    overflow-y: hidden;
  }
  
  .App-header {
    @include gradient(#333, #555);
    color: white;
    border-bottom: 3px solid #aaa;
  
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .content-wrapper {
    padding-bottom: 3em;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .status {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right: 8px;
}

.online {
    @extend .status;
    background-color: $live;
}

.offline {
    @extend .status;
    background-color: $offline;
}

.title-logo {
    width: 40px;
}