@import 'mixins';

i {
    cursor: pointer;
}

.Editor {
    background-color: #fff;
    z-index: 2;
    position: fixed;
    transition: ease-in-out 300ms;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    .nav {
        ul {
            padding: 0 1em;
            margin:  0;
            display: flex;
            list-style: none;
            justify-content: space-between;
            @include gradient(#333, #555);
            color: white;
            border-bottom: 3px solid #aaa;

            li {
                padding: 1em;
            }
        }
    }

    .content {
        display: flex;
        text-align: left;
        flex-direction: column;
        margin: 0.5em 1em;
        height: 100%;

        input {
            min-height: 2em;
        }

        input, textarea {

            padding: 16px;

            &:hover {
                background-color: rgba(225,225,225,10); 
            }

            &:focus {
                outline: none;
            }
        }
        textarea {
            height: 100%;
        }

        .editor-title {
            font-size: 2em;
            border: 0;
        }

        .editor-textarea {
            font-size: 1.5em;
            resize: none;
            border: 0;
        }
    }
}

.Editor-true {
    height: 100%;
}

.Editor-false {
    height: 0;
}