@import 'mixins';

.toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: left;
    background: white;
    border-top: 3px solid #aaa;
    p {
        color: black;
        text-align: center;
    }
    
}
