@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: #f3f3f3;
}

.App {
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: hidden;
}

.App-header {
  background: -webkit-gradient(linear, left top, right top, from(#333), to(#555));
  background: linear-gradient(to right, #333, #555);
  color: white;
  border-bottom: 3px solid #aaa;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content-wrapper {
  padding-bottom: 3em;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.status, .online, .offline {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 8px;
}

.online {
  background-color: #2ecc71;
}

.offline {
  background-color: #c0392b;
}

.title-logo {
  width: 40px;
}

.navigation .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navigation .list li {
  list-style: none;
  padding: 1em;
  font-size: 1.5em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .list li span {
  display: block;
}

i {
  cursor: pointer;
}

.Editor {
  background-color: #fff;
  z-index: 2;
  position: fixed;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Editor .nav ul {
  padding: 0 1em;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, right top, from(#333), to(#555));
  background: linear-gradient(to right, #333, #555);
  color: white;
  border-bottom: 3px solid #aaa;
}

.Editor .nav ul li {
  padding: 1em;
}

.Editor .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5em 1em;
  height: 100%;
}

.Editor .content input {
  min-height: 2em;
}

.Editor .content input, .Editor .content textarea {
  padding: 16px;
}

.Editor .content input:hover, .Editor .content textarea:hover {
  background-color: #e1e1e1;
}

.Editor .content input:focus, .Editor .content textarea:focus {
  outline: none;
}

.Editor .content textarea {
  height: 100%;
}

.Editor .content .editor-title {
  font-size: 2em;
  border: 0;
}

.Editor .content .editor-textarea {
  font-size: 1.5em;
  resize: none;
  border: 0;
}

.Editor-true {
  height: 100%;
}

.Editor-false {
  height: 0;
}

.notes-wrapper {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
}

.Note {
  background-color: white;
  border-radius: 4px;
  border-bottom: 2px solid #ccc;
  position: relative;
  padding: 1em;
}

.Note .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.Note .container header h2 {
  margin: 0;
  text-align: left;
}

.Note .container header .controls {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  margin: 0.5em;
  cursor: pointer;
}

.Note .container section {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.Note .container section p {
  margin: 0;
}

.Note .container footer p {
  text-align: left;
  margin: 0;
}

.toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  background: white;
  border-top: 3px solid #aaa;
}

.toolbar p {
  color: black;
  text-align: center;
}

@media (max-width: 650px) {
  .notes-wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */