@import 'mixins';

.toolbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color: white;

    p {
        color: #aaa;
        margin: 1em 0.5em 1em 0.5em;
    }

    @include shadow(0px, 0px, 5px, 0px, 50, 50, 50, 0.50);
    
}